
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="mb-5">
        <h1 class="display-5 fw-bold">
            We Will Take Care About Your Health with a Policy
        </h1>
    </div>
    <p class="lead">
        This project is aimed to developing an online Health Insurance System. An Organization wants to start Health Insurance against its employee.
    </p>
    <p class="lead">
        The Medical care system will maintain all information related to the employee (Patient), maintenances of claims pertaining to the Insurance companies, information about all sort of medical services providing by the hospital to the corporate employess, claim settlements & adjustments against their services authorizing by the Insurance Companies
    </p>
    <p class="lead">
        Additionally this system can also maintain the health related all information of the employees.
    </p>
</div>
