@model HealthInsurance.Areas.Admin.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-vh-100 py-5">
    <div class="py-5">
        <h1>@Html.DisplayFor(model => model.Title)</h1>

        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
</div>
