USE [HealthInsuranceSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](500) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[PolicyStatus] [bit] NOT NULL,
	[UserRole] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Hospitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Emi] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyOnEmp]    Script Date: 06/06/2023 9:17:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyOnEmp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EmiSubmitted] [decimal](18, 2) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[PolicyStatus] [bit] NOT NULL,
 CONSTRAINT [PK_PolicyOnEmp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230506130825_Mg1', N'6.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230506131114_Mg2', N'6.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230508093305_UpdateHospitals', N'6.0.15')
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Id], [FullName], [Email], [Phone], [Subject], [Message]) VALUES (3, N'Minh Thông Vũ', N'duongbosong1@gmail.com', N'0961727298', N'czxczxc', N'ccccccccccccc')
INSERT [dbo].[Contact] ([Id], [FullName], [Email], [Phone], [Subject], [Message]) VALUES (4, N'tuấn', N'tuan123@gmail.com', N'0987654321', N'123', N'test tuấn')
INSERT [dbo].[Contact] ([Id], [FullName], [Email], [Phone], [Subject], [Message]) VALUES (5, N'Minh Thông Vũ', N'vuminhthong98@gmail.com', N'0961727298', N'4333', N'Contact ')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [UserName], [Password], [FullName], [DateOfBirth], [Email], [Address], [JoinDate], [PolicyStatus], [UserRole]) VALUES (6, N'admin1', N'$2a$10$9qYOz7JNqs3j3KtL67pRxuvdUTs.vBU3TbCCMCvXCwy/67hVWeAS.', N'hhhhh', CAST(N'2016-02-03T00:00:00.0000000' AS DateTime2), N'dcascasc@gmail.com', N'gggyugy', CAST(N'2023-06-03T00:00:00.0000000' AS DateTime2), 0, N'Administrator')
INSERT [dbo].[Employees] ([Id], [UserName], [Password], [FullName], [DateOfBirth], [Email], [Address], [JoinDate], [PolicyStatus], [UserRole]) VALUES (8, N'admin', N'123456', N'hhhhh', CAST(N'2023-06-07T00:00:00.0000000' AS DateTime2), N'dcascasc@gmail.com', N'gggyugy', CAST(N'2023-06-03T00:00:00.0000000' AS DateTime2), 0, N'Administrator')
INSERT [dbo].[Employees] ([Id], [UserName], [Password], [FullName], [DateOfBirth], [Email], [Address], [JoinDate], [PolicyStatus], [UserRole]) VALUES (13, N'EmpNo1', N'$2a$05$UZn6w9nOq4TULNxj4ESLg.ywoy5U0g4pKNHj5DO.kPjTrwxDtmyiW', N'Nhân viên 1', CAST(N'2000-02-02T00:00:00.0000000' AS DateTime2), N'dcascasc@gmail.com', N'ĐỊa chỉ', CAST(N'2023-06-03T00:00:00.0000000' AS DateTime2), 0, N'Customer')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Hospitals] ON 

INSERT [dbo].[Hospitals] ([Id], [Name], [Phone], [Location]) VALUES (1, N'Bệnh viện Bạch Mai', N'0987654322', N'78 Đường Giải Phóng, Phương Mai, Đống Đa, Hà Nội')
INSERT [dbo].[Hospitals] ([Id], [Name], [Phone], [Location]) VALUES (2, N'ManuLife', N'0987654211', N'Tầng 1, Tòa nhà Manulife Tower, 29 Nguyễn Đình Chiểu, Quận Hai Bà Trưng, Hà Nội, Việt Nam')
INSERT [dbo].[Hospitals] ([Id], [Name], [Phone], [Location]) VALUES (3, N'SunLife', N'0982165311', N'Tầng trệt, Tầng 1 & Tầng 5, Tòa nhà CMC, Số 11, Phố Duy Tân, Phường Dịch Vọng Hậu, Quận Cầu Giấy, Hà Nội')
SET IDENTITY_INSERT [dbo].[Hospitals] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Policies] ON 

SET IDENTITY_INSERT [dbo].[Policies] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [UserRole]
GO
ALTER TABLE [dbo].[PolicyOnEmp] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PolicyStatus]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Hospitals_HospitalId] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Hospitals_HospitalId]
GO
ALTER TABLE [dbo].[PolicyOnEmp]  WITH CHECK ADD  CONSTRAINT [FK_PolicyOnEmp_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyOnEmp] CHECK CONSTRAINT [FK_PolicyOnEmp_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[PolicyOnEmp]  WITH CHECK ADD  CONSTRAINT [FK_PolicyOnEmp_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyOnEmp] CHECK CONSTRAINT [FK_PolicyOnEmp_Policies_PolicyId]
GO
