@model HealthInsurance.Models.Policy

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Policy</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row border p-3">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Emi" class="control-label"></label>
                        <input asp-for="Emi" class="form-control" />
                        <span asp-validation-for="Emi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label">Hospital</label>
                        <select asp-for="HospitalId" class="form-control" asp-items="ViewBag.HospitalId"></select>
                    </div>
                    <div style="margin-top:40px;">
                        <label>Image:</label>
                        <input type="file" name="imageUpload" class="form-control-file" />
                    </div>
                </div>
                <div class="form-group col-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea id="Description" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea id="Content" asp-for="Content"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group col-12 d-flex justify-content-end">
                    <input type="submit" value="Save" class="btn btn-primary" id="btnSave" />
                    <a asp-action="Index" class="btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/build/ckeditor.js"></script>
<script>
    let ckEditor;
    ClassicEditor
        .create(document.querySelector('#Description')).then(editor => {
            ckEditor = editor;
            editor.ui.view.editable.element.style.height = '300px';    
        }) 
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector('#Content')).then(editor => {
            ckEditorContent = editor;
            editor.ui.view.editable.element.style.height = '300px';
        })
        .catch(error => {
            console.error(error);
        });
    $("#btnSave").click(function(){
        $('#Description').val(ckEditor.getData());
        $('#Content').val(ckEditorContent.getData());
    })
</script>
