<!DOCTYPE html>
<html lang="en" class="min-vh-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthInsurance</title>
    <script src="~/assests/js/index.js"></script>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/HealthInsurance.styles.css" asp-append-version="true" />
    @*<link href="~/assests/css/index.css" rel="stylesheet" />*@
</head>

<body class="min-vh-100">
    <header class="w-100 position-fixed top-0 left-0 right-0 z-3">
        @await Html.PartialAsync("_HeaderPartialView.cshtml")
    </header>
    <div class="container min-vh-100">
        <main role="main" class="min-vh-100">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MediHaven Insurance

            <img class="w-auto" style="height: 20px" src="/assets/mh-logo.svg" alt="MediHaven">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
