@model HealthInsurance.Areas.Admin.Models.News

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image:</label>
                <input type="file" name="imageUpload" class="form-control-file" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="Description" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="Content" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-around">
                <input type="submit" value="Save" class="btn btn-primary" id="btnSave" />
                <a asp-action="Index" class="btn">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/build/ckeditor.js"></script>
<script>
    let ckEditor;
    ClassicEditor
        .create(document.querySelector('#Description')).then(editor => {
            ckEditor = editor;
            editor.ui.view.editable.element.style.height = '300px';
        })
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector('#Content')).then(editor => {
            ckEditorContent = editor;
            editor.ui.view.editable.element.style.height = '300px';
        })
        .catch(error => {
            console.error(error);
        });
    $("#btnSave").click(function () {
        $('#Description').val(ckEditor.getData());
        $('#Content').val(ckEditorContent.getData());
    })
</script>
