@model IEnumerable<HealthInsurance.Models.PolicyOnEmp>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="min-vh-100 py-5">
    <div class="py-5">
        <div class="d-flex align-items-center gap-3 mb-4">
            <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 64px; height: 64px;">
                <i class="fa-solid fa-clipboard-list fa-2xl text-primary"></i>
            </div>
            <h1 class="display-5 fw-bold mb-0">
                Your policies
            </h1>
        </div>
        @if (Model != null)
        {
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Policy
                            </th>
                            <th>
                                EMI
                            </th>
                            <th>
                                Start date
                            </th>
                            <th>
                                End date
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Policy.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmiSubmitted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td class="d-flex align-items-center">
                                    @if (item.PolicyStatus.Equals(true))
                                    {
                                        <div class="status-dot status-active"></div>

                                        <span>Active</span>
                                    }
                                    else
                                    {
                                        <div class="status-dot status-warning"></div> <span>Pending</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>