@model HealthInsurance.Models.Employee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create new</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row border p-3">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            @Html.DisplayNameFor(model => model.PolicyStatus)<input class="form-check-input" asp-for="PolicyStatus" />
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JoinDate" class="control-label"></label>
                        <input asp-for="JoinDate" class="form-control" />
                        <span asp-validation-for="JoinDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserRole" class="control-label"></label>
                        <input asp-for="UserRole" class="form-control" />
                        <span asp-validation-for="UserRole" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <input type="submit" value="Create" class="btn btn-primary me-3" />
                        
                        <a asp-action="Index" class="btn">Cancel</a>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


