@model HealthInsurance.Models.Employee

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assests/js/changepassword.js"></script>
<div class="container min-vh-100">
    <h1 class="display-5 fw-bold mb-1 w-100 text-center" style="margin-top:100px;">Change Password</h1>
    <div class="w-100 alert alert-success" role="alert" style="display: none;">
        Change Password Success
    </div>
    <div class="w-100 alert alert-danger" role="alert" style="display: none;">
        Password is incorrect
    </div>
    <div class="w-100 d-flex justify-content-center align-content-center mt-4">
        <form id="changePassword" class="w-100 d-flex flex-column align-content-center needs-validation" novalidate style="max-width: 400px;" method="post">
            <div class="form-floating mb-4">
                <input id="password"
                       class="form-control"
                       type="password"
                       required
                       placeholder="Enter your Password" />
                <label>
                    Password
                </label>
            </div>
            <div class="form-floating mb-4">
                <input id="newPassword"
                       class="form-control"
                       type="password"
                       required
                       placeholder="Enter your new password" />
                <label for="password">
                    New Password
                </label>
            </div>
            <div class="form-floating mb-4">
                <input id="confirmPassword"
                       class="form-control"
                       type="password"
                       required
                       placeholder="Confirm password" />
                <label for="password">
                    Confirm password
                </label>
            </div>
            <div class="alertForm" style="color:red">
            </div>
            <button type="button" class="btn btn-primary mt-4" onclick="saveNewPassword()">
                Save
            </button>
        </form>
    </div>
</div>

