@model HealthInsurance.Models.Employee
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mx-auto min-vh-100 d-flex justify-content-center align-items-center">
    <div class="w-50 d-flex flex-column justify-content-center align-items-center">
        <img class="w-auto mb-5" style="height: 40px" src="/assets/mh-logo.svg" alt="MediHaven">
        <h5 class="fs-3 fw-bold mb-4">
            Sign in to your account
        </h5>
        <form class="w-100 d-flex flex-column align-content-center needs-validation" novalidate style="max-width: 400px;" asp-controller="Account" asp-action="Login" method="post">
            <div class="form-floating mb-4">
                <input id="username"
                       class="form-control"
                       type="text"
                       required
                       placeholder="Enter your username"
                       asp-for="UserName" />
                <label for="username">
                    Username
                </label>
            </div>
            <div class="form-floating mb-4">
                <input id="password"
                       class="form-control"
                       type="password"
                       asp-for="Password"
                       required
                       placeholder="Enter your password" />
                <label for="password">
                    Password
                </label>
            </div>
            @{
                if (ViewBag.LoginStatus != null && ViewBag.LoginStatus == 0)
                {
                    <div>
                        <span class="">
                            Invalid username or password, please try again!
                        </span>
                    </div>
                }
            }
            <button type="submit" class="btn btn-primary mt-4">
                Login
            </button>
        </form>
    </div>
    <div class="w-50 px-5">
        <img src="/assets/Health checkup.svg" class="w-100 h-auto object-fit-contain" />
    </div>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</div>

