@model HealthInsurance.Models.Employee
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login","Account",FormMethod.Post))
{
    if (ViewBag.LoginStatus != null && ViewBag.LoginStatus == 0)
    {
        <div>
            Invalid UserName or Password, please try again!
        </div>
    }
    <label for="fname">First name:</label><br>
  @Html.TextBoxFor(e=>e.UserName, new{@placeholder = "Enter UserName"})
  <label for="lname">Last name:</label><br>
  @Html.TextBoxFor(e=>e.Password, new{@placeholder = "Enter Password"})
  <input type="submit" value="Submit">
}


