html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
header{
    z-index:100;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.aspect-video-vertical {
    aspect-ratio: 3 / 4;
}

.aspect-video {
    aspect-ratio: 16 / 9;
}

.status-dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(var(--status-color), 0.5);
    background-color: rgb(var(--status-color));
    margin-right: 6px;
    animation: pulse 2s infinite;
}

.status-active {
    --status-color: 66, 133, 244;
    animation: pulse 2s infinite;
}

.status-success {
    --status-color: 46, 204, 113;
    animation: pulse 2s infinite;
}

.status-error {
    --status-color: 231, 76, 60;
    animation: pulse 2s infinite;
}

.status-warning {
    --status-color: 243, 156, 18;
    animation: pulse 2s infinite;
}

.status-inactive {
    --status-color: 189, 195, 199;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--status-color), 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba(var(--status-color), 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(var(--status-color), 0);
    }
}
.policies-page{
    margin-top:100px;
}
.policies-page img{
    height:230px;
    margin:20px 0px 10px 0;
}
.policies-name a{
    font-weight:bold;
    text-decoration:none;
}
.policies-desc {
    color: #89888b;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.see-more{
    font-size:13px;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.payModal .modal-header{
    justify-content:right;
    padding-bottom:0;
}
.payModal button {
    border-radius: 7px;
    font-weight: bold;
    color: white;
    background-color: #4285F4;
    border:none;
    outline:none;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.loading {
    position: fixed;
    display: none;
    top: 40%;
    left: 40%;
    z-index:1001;
}