@{
    ViewData["Title"] = "About Us";
}

<div class="container my-5">
    <div class="">
        <h1 class="display-5 fw-bold">
            MediHaven Insurance
        </h1>
        <p class="lead mt-5">
            Our medical care system serves as a crucial component of health insurance, ensuring that individuals have access to the necessary healthcare services they require. It diligently maintains comprehensive records encompassing vital information about patients, fostering efficient and accurate medical management.
        </p>
    </div>
</div>
